
/* ----------------------------------------- [ MEDIA QUERIES - Medium ] ------------------------------------------ */

@media screen and (max-width: 900px) 
    { 

        body 
            {
                display: flex;
                flex-direction: column-reverse;
            }

        footer, main  
            { 
                width: auto;
                height: auto;
                max-width: 100%;
                margin: 1rem; 
                
            }

        h1  /* Grand-titre */ 
            { 
                font-size: 2.5rem; 
            }      

        h2  /* Grand Sous-titre */
            { 
                font-size: 1rem; 
            }

        .entete /* dimensions de l'entête */
            { 
                margin-top: 30px;
                margin-bottom: 70px; 

            }
 

    }



/* ----------------------------------------- [ MEDIA QUERIES - Small ] ------------------------------------------ */

@media screen and (max-width: 450px) 
    {
        h1  /* Grand-titre */ 
            { 
                font-size: 1.7rem; 
            }      

        h2  /* Grand Sous-titre */
            { 
                font-size: 0.7rem; 
            }


    }








