
/* ----------------------------------------- [ VARIABLES CSS ] ------------------------------------------ */
:root { 
    --bg-color: #FFFFFF; 
    --primary-color: #FFD54F;
    --secondary-color: #263238; 

    --primary-color-mq1: #4DD0E1; 
    --primary-color-mq2: #e57373;
}
/* ----------------------------------------- [ STYLES GENERAUX ] ------------------------------------------ */

body {    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0rem;
    text-align: justify;
}

/*----- Typographies -----*/ 
   
main, footer { font-family: 'Baloo Da 2', "century gothic", cursive , sans-serif ; } /* typo générale */
main header { font-family: 'Raleway Dots', "century gothic", cursive , sans-serif ; } /* typo du titre principal */

/*----- Couleurs de fond -----*/

header, main { background-color: var(--bg-color);} 
footer { background-color: var(--primary-color);} 
h5 { background-color: var(--secondary-color);}
   
/*----- Couleurs d'éléments -----*/

.namecolor, h5 { color: var(--primary-color); } 
address, p, h2, article, ul { color: var(--secondary-color); font-size: 0.8rem; }
a {color: var(--secondary-color);} 

main i { color: var(--primary-color); } 
footer i { color: var(--secondary-color); }

/* ---------------------------------------- [ PARTIE PRINCIPALE <main> ] ----------------------------------------- */

main { 
    width: 700px;
    max-width: 70%;
    margin: 2.2rem; 
    height: auto;
}  

/*----- Titre principal -----*/

.entete, main { 
    flex-direction: column; 
} 
.entete { 
    margin-top: 30px;
    margin-bottom: 70px; 

}
h1 { 
    font-weight: bold; 
    font-size: 3rem; 
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
}      
h2 { 
    font-weight: bold; 
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem; 
}
.trait { 
    border-bottom: 2px var(--primary-color) solid;
    width: 4.3rem;
    margin-top: 0rem; 
}

/*----- Sections du CV -----*/

h3 { 
    font-size: 1.3rem;
    margin: 0.5rem; 
}  
section header { 
    border-bottom: 2px var(--primary-color) solid; 
} 
h4 {
    margin: 0.9rem 0.2rem 0.2rem 0.2rem;
    padding: 0rem;
}
.break { 
    display: flex;
    align-items: flex-start; 
    margin-top: 0.5rem;
}       
main p {
    margin: 0.5rem 0.2rem;
    padding: 0rem;
}
.date { 
    width: 30%; 
}
.expe { 
    width: 70%; 
    margin-bottom: 0.6rem 0rem 0.6rem 0rem;
} 

/*----- Icônes -----*/

.icon-cv { 
    font-size: 1.7rem;
    margin: 0rem;
}
.fa-asterisk, .fa-check-circle { 
    font-size: 10px;
} 

/*----- Recommandantions -----*/

#list-reco { 
    display: flex;  
    justify-content: space-around; 
}  
.namebold { 
    font-weight: bold; 
} 
ul { 
    list-style-type: none; 
    width: 200px;
} 

    /* ---------------------------------------- [ PARTIE ANNEXE <footer> ] ----------------------------------------- */

footer { 
    width: 30%; 
    max-width: 250px;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
} 
footer p { 
    padding: 0rem 1rem 0.5rem 1rem ;
    margin: auto;
}   
h5 { 
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*----- Photo -----*/

img { 
    border: 0.25rem solid rgb(204, 168, 48);
    border-radius: 50%;
    display: flex;
    margin: auto;
}

/*----- Contact -----*/

address { 
    font-style: normal;
}

/*-----à propos de moi -----*/

.flexgrow { 
    flex-grow: 1;
}

/*----- Loisirs -----*/

.center { 
    display: flex;
    justify-content: space-around; 
} 

.icon-loisirs { 
    font-size: 2rem; 
    border: 2px var(--secondary-color) solid;
    border-radius: 50%; 
    padding: 1rem; 
} 


/* ----------------------------------------- [ MEDIA QUERIES ] ------------------------------------------ */


/* -------------- [ Medium screen ] -------------- */

@media screen and (max-width: 900px) { 

    body {
        display: flex;
        flex-direction: column;
    }

    footer, main { 
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 1rem; 
            
    }

    .entete { 
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 4rem;
    }

    h1 { 
        font-size: 2.5rem;
    }      

    h2 { 
        font-size: 1rem;
    }

    .trait {
        border-bottom: 2px var(--primary-color) solid;
        width: 2.8rem;
        margin-top: 0rem; 
    }    

    footer { background-color: var(--primary-color-mq1);}
    .namecolor, h5 { color: var(--primary-color-mq1); } 
    main i { color: var(--primary-color-mq1); } 
    section header { border-bottom: 2px var(--primary-color-mq1) solid; } 
    img { border: 0.25rem solid #00ACC1; }
    .trait { 
        border-bottom: 2px var(--primary-color-mq1) solid;
        width: 3rem;
        margin-top: 0rem; 
    }

}

/* -------------- [ Small screen ] -------------- */

@media screen and (max-width: 550px) {

    article, #list-reco {
        display: flex;
        flex-direction: column;
    }
   
    .entete { 
        margin-top: 30px;
        margin-bottom: 40px;
        margin-left: 0rem;
        text-align: center;  
    }

    h1 { 
        font-size: 1.5rem;
    }      

    h2, h3, h5{ 
        font-size: 0.8rem;
        font-weight: bold;
    }

    h4, p, li {
        font-size: 0.6rem;
    }

    .trait {
        border-bottom: 2px var(--primary-color-mq2) solid;
        width: 2.8rem;
        margin-top: 0rem; 
        display: none;
    }  

    .date { 
        width: auto; 
    }
    .expe { 
        width: auto; 
    } 

    .icon-cv { 
        font-size: 1rem;
        margin: 0.5rem;
    }

    h3 {
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
    }

    h4 {
        margin: 0.2rem 0.2rem 0.2rem 0.2rem;
        padding: 0rem;
    }

    .break { 
        margin-top: 0.2rem;
    } 

    footer { background-color: var(--primary-color-mq2);}
    .namecolor, h5 { color: var(--primary-color-mq2); } 
    main i { color: var(--primary-color-mq2); } 
    section header { border-bottom: 2px var(--primary-color-mq2) solid; } 
    img { border: 0.25rem solid #ae4d4d; }
    }

    .fa-asterisk, .fa-check-circle { 
        font-size: 7px;
        margin-right: 0.8rem; 
    } 

    main p {
        margin: 0.3rem;
    }
         

}









